# --------------------
# Dependencies
# --------------------
/vendor/

# --------------------
# PHPUnit / Pest
# --------------------
.phpunit.cache/
.phpunit.result.cache

# --------------------
# IDE / Editor
# --------------------
.idea/
.vscode/
*.swp

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs / temp
# --------------------
*.log

# --------------------
# Env files (if added later)
# --------------------
.env
.env.*
